body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100vw;
    display: block;
}

.bg-image {
    position: relative;
}

.icon-bar {
    position: absolute;
    width: 100vw;
    bottom: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 240px;
}

.icon-img {
    margin: auto;
}

.icon-bar-text {
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: center;
    font-size: 0.75rem;
}

.form-body {
    background-color: #f2f2f2;
}

.form-header p {
    margin: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.form-section {
    background-color: #ffffff;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0 3px 10px #d9d9d9;
}

.form-title {
    padding: 20px;
    font-size: 1.3rem;
}

form {
    margin: 0 20px 20px 20px;
}


.form-header,
.form-section,
.submit-details {
    margin: 40px 0;
}

.submit-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account {
    background-color: #596D48;
    color: #ffffff;
    border: none;
    padding: 15px 130px;
    margin: 0 40px;
    border-radius: 8px;
    box-shadow: 3px 3px 20px #aeaeae;
    transition: 0.2s;
    cursor: pointer;
}

.create-account:hover {
    background-color: #738b5d;
}

.create-account:active {
    transform: scale(0.97);
    background-color: #596D48;
}

.login-link {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

/* form styling */

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

input {
    padding-left: 5px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    min-height: 1.5rem;
    flex: auto;
    max-width: 80vw;
    transition: 0.25s;
}

.input-content {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0px 3px 10px #aeaeae;
}

.invalid-field-input {
    border-color: red;
}

.invalid-inputs {
    border-color: red;
}

.invalid-inputs:focus {
    border-color: red;
}

input:focus:invalid + span::before {
    content: "❌";
}

input:focus:valid + span::before {
    content: "✓";
    color: green;
}

.required-message::after {
    content: "This field is required";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
}   

.min-characters::after {
    content: "This must be a minimum of 2 characters.";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
}

.password-missmatch::after {
    content: "Passwords do not match.";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
}

.password-invalid::after {
    content: "Password must be minimum 4 characters and include 1 upper case letter.";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
    margin-right: 20px;
}

.invalid-email::after {
    content: "Please enter a valid email address.";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
    margin-right: 20px;
}

.invalid-tel::after {
    content: "Please enter a valid telephone number.";
    position: absolute;
    color: red;
    font-weight: 600;
    font-size: 0.75rem;
    margin-right: 20px;
}



@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 40vw;
    }

    .icon-bar {
        position: absolute;
        width: 100%;
        bottom: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 240px;
    }

    .form-header p {
    margin-left: 0px;
    font-size: 1.4rem;
    font-weight: 500;
}

    .form-body {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 20px;
        gap: 50px;
    }

    .form-header,
    .form-section,
    .submit-details {
    margin: 0;
}

    .form-section {
        width: 100%;
        border-radius: 12px;
    }

    .form-title {
    font-size: 1.5rem;
}

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    input {
        max-width: 250px;
    }

    .submit-details {
        margin-right: auto;
        margin-left: 0px;
        display: block;
    }

    .create-account {
    background-color: #596D48;
    color: #ffffff;
    border: none;
    padding: 15px 60px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px #aeaeae;
    transition: 0.2s;
    }

    /* form settings */
    
    .password-invalid::after {
        content: "Password must be minimum 4 characters and \A include 1 upper case letter.";
        white-space: pre-wrap;
        position: absolute;
        color: red;
        font-weight: 600;
        font-size: 0.75rem;
    }

}